body {
  font-family: 'Inter', sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 { margin-bottom: 10px; font-size: 28px; color: #333; }
h2 { margin-bottom: 25px; font-size: 18px; color: #4caf50; font-weight: 400; }

.container input,
.container textarea {
  width: 100%;        /* prend toute la largeur du container */
  padding: 14px;      /* espace intérieur */
  margin: 10px 0;     /* espace vertical entre les champs */
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: all 0.2s;
  box-sizing: border-box; /* inclus padding dans la largeur totale */
}

h1, h2 {
    font-family: 'Anton', sans-serif;
}
  

input:focus, textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76,175,80,0.3);
}

button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s;
  margin-top: 10px;
}

button:hover {
  background: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.row {
  display: flex;
  gap: 10px;
}

.row input {
  flex: 1;
}

body {
    font-family: 'Inter', sans-serif;
    background: url('image_fond.jpeg') no-repeat center center fixed;
    background-size: cover; /* l'image couvre tout l'écran */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  

  /* Style pour la page merci */
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.95); /* léger fond blanc semi-transparent */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 50px auto;
}

.thank-you h1 {
  font-family: 'Anton', sans-serif;
  color: limegreen;
  margin-bottom: 20px;
}

.thank-you p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

